body {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 60px;
}
.container img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
}
.container img:hover {
  transform: scale(1.04);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@font-face {
  font-family: fontku;
  src: url(../Font/Blacksword.otf);
}

h1 {
  font-family: fontku;
  padding-top: 7rem;
}

h3 {
  font-family: fontku;
  padding-top: 5rem;
  text-align: center;
  color: #fed136;
}

p {
  font-family: montserrat;
}

.videoframe {
  height: 350px;
  width: 513px;
}

iframe {
  padding-top: 3rem;
}
